#!/bin/bash

# -e: exit on error
# -u: exit on unset variables # FIXME: NVIM_PRE_INSTALLED
set -e

{{ if eq .chezmoi.os "linux" -}}
PKGS="build-essential procps curl file git"
if ! dpkg -s $PKGS &>/dev/null; then
  sudo apt update -q
  sudo apt install -yq $PKGS
fi
{{ end -}}

{{- if eq .chezmoi.os "darwin" "linux" -}}
if ! command -v brew 2>&1 >/dev/null; then
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

if ! command -v brew 2>&1 >/dev/null; then
  export PATH="$PATH:$HOME/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/bin:/opt/homebrew/bin"
  eval $(brew shellenv)
fi

if command -v nvim 2>&1 >/dev/null; then
  NVIM_PRE_INSTALLED=1
fi

# do not enforce sha
unset HOMEBREW_CASK_OPTS

brew update
brew doctor || true

# FIXME: substitute casks on linux
# TODO: attribute packages, ie. ruby-build deps
brew bundle -q --file=/dev/stdin <<EOF
brew "antidote" # zsh plugin manager
brew "bat" # better cat
brew "colordiff"
brew "eza" # better ls
brew "fd" # nvim mason dep
brew "fzf" # fuzzy finder
brew "gh" # github cli
brew "git"
brew "htop"
brew "kubernetes-cli"
brew "mas" # mac app store # FIXME: fails to skip cleanly on linux
brew "mise" # mise-en-place
brew "neovim"
brew "ripgrep"
brew "sevenzip"
brew "thefuck"
brew "tmux"
brew "uv" # python manager
brew "wakatime-cli"
brew "wget"
brew "zsh"
cask "alfred" # better spotlight
cask "amethyst" # tiling wm
cask "font-fira-code-nerd-font"
cask "iterm2" # better terminal
cask "jordanbaird-ice" # menu bar
cask "lookaway" # screen breaks
cask "lulu" # firewall
cask "obsidian"
cask "wakatime"
cask "xscreensaver"
mas "Fantastical", id: 975937182
mas "Irvue", id: 1039633667
EOF

brew upgrade --cask --greedy
brew upgrade --greedy
brew outdated --cask --greedy --verbose
brew outdated --greedy --verbose
brew cleanup

if [ ! -d "$HOME/.oh-my-zsh" ]; then
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi

mise trust
mise install

if [ -z "$NVIM_PRE_INSTALLED" ]; then
  nvim --headless "+Lazy! sync" +qa
fi
{{ end -}}

{{- if .codespaces }}
cat <<EOF >"$HOME/.gitconfig.overrides"
[user]
	name = coraline33od
[gpg]
	program = /.codespaces/bin/gh-gpgsign
EOF
{{ end -}}
